.profile {
  width: 100%;
  background-color: #202020;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 74px 0 70px;
}

.profile__greeting {
  font: 500 24px/29px 'Inter', Arial, sans-serif;
  text-align: center;
  margin: 0 0 123px;
}

.profile__buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.profile__button {
  background-color: transparent;
  border: none;
  color: white;
  font: 400 13px/16px 'Inter', Arial, sans-serif;
}

.profile__button:hover {
  opacity: 0.8;
}

.profile__button-sign-out {
  color: #ee3465;
}

.profile__info {
  margin-bottom: 220px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile__label {
  display: flex;
  justify-content: space-between;
  gap: 223px;
  font: 500 11px/13px 'Inter', Arial, sans-serif;
}

.profile__label:not(:last-child) {
  border-bottom: 1px solid #424242;
  padding-bottom: 16px;
}

.profile__input {
  background-color: transparent;
  border: none;
  font: 400 11px/13px 'Inter', Arial, sans-serif;
  text-align: end;
  color: white;
}

.profile__button_disabled {
  color: rgb(83, 83, 83);
  cursor: default;
}

.profile__button_disabled:hover {
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .profile {
    padding: 228px 0 70px;
  }

  .profile__greeting {
    margin: 0 0 97px;
  }

  .profile__info {
    margin-bottom: 208px;
  }
}

@media screen and (max-width: 750px) {
  .profile {
    padding: 60px 0 70px;
  }

  .profile__label {
    gap: 74px;
  }

  .profile__greeting {
    margin: 0 0 80px;
  }

  .profile__info {
    margin-bottom: 377px;
  }

  .profile__button {
    font: 400 12px/15px 'Inter', Arial, sans-serif;
  }
}
