.about-project {
  width: 100%;
  background-color: #202020;
  padding: 110px 0 85px;
  color: white;
}

.about-project__group {
  max-width: 1140px;
  justify-content: space-between;
  margin: 0 auto;
}

.about-project__header {
  border-bottom: 1px solid #dadada;
  font: 400 22px/27px 'Inter', Arial, sans-serif;
  letter-spacing: -0.04em;
  margin: 0;
  width: 100%;
  padding-bottom: 23px;
  margin-bottom: 70px;
}

.about-project__title {
  margin: 0;
  font: 400 20px/24px 'Inter', Arial, sans-serif;
  margin-bottom: 26px;
  letter-spacing: -0.04em;
}

.about-project__subtitle {
  margin: 0;
  font: 400 14px/20px 'Inter', Arial, sans-serif;
  max-width: 550px;
}

.about-project__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
}

.about-project__time-interval,
.about-project__part {
  display: flex;
}

.about-project__time-bar {
  height: 36px;
  width: 100%;
  background-color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 400 14px/17px 'Inter', Arial, sans-serif;
}

.about-project__time-bar:first-child {
  background-color: #3ddc84;
  flex-shrink: 4;
  color: black;
}

.about-project__part-name {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 500 14px/17px 'Inter', Arial, sans-serif;
  color: #8b8b8b;
}

.about-project__part-name:first-child {
  flex-shrink: 4;
}

@media screen and (max-width: 1250px) {
  .about-project__group {
    width: 87%;
  }

  .about-project__title,
  .about-project__subtitle {
    max-width: 450px;
  }
}

@media screen and (max-width: 1100px) {
  .about-project__title,
  .about-project__subtitle {
    max-width: 400px;
  }
}

@media screen and (max-width: 950px) {
  .about-project__title,
  .about-project__subtitle {
    max-width: 360px;
  }
}

@media screen and (max-width: 830px) {
  .about-project {
    padding: 89px 0 76px;
  }

  .about-project__info {
    margin-bottom: 93px;
  }

  .about-project__part-name:first-child,
  .about-project__time-bar:first-child {
    flex-shrink: 3.8;
  }

  .about-project__title {
    max-width: 320px;
    margin-bottom: 21px;
  }

  .about-project__subtitle {
    max-width: 320px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 760px) {
  .about-project__title,
  .about-project__subtitle {
    max-width: 270px;
  }
}

@media screen and (max-width: 650px) {
  .about-project {
    padding-top: 71px;
  }

  .about-project__group {
    width: 89%;
  }

  .about-project__header {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 27px;
    margin-bottom: 60px;
  }

  .about-project__info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 56px;
  }

  .about-project__title,
  .about-project__subtitle {
    max-width: none;
  }

  .about-project__info {
    margin-bottom: 60px;
  }

  .about-project__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 16px;
  }

  .about-project__subtitle {
    font-size: 11px;
    line-height: 16px;
  }

  .about-project__part-name:first-child,
  .about-project__time-bar:first-child {
    flex-shrink: 1.8;
  }

  .about-project__part-name,
  .about-project__time-bar {
    font-size: 11px;
    line-height: 13px;
  }
}
