.techs {
    width: 100%;
    background-color: #272727;
    padding: 110px 0;
    color: white;
}

.techs__group {
    max-width: 1140px;
    justify-content: space-between;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.techs__header {
    border-bottom: 1px solid #dadada;
    font: 400 22px/27px "Inter", Arial, sans-serif;
    letter-spacing: -0.04em;
    margin: 0;
    width: 100%;
    padding-bottom: 23px;
    margin-bottom: 90px;
}

.techs__title {
    font: 400 50px/58px "Inter", Arial, sans-serif;
    letter-spacing: -0.04em;
    margin: 0 0 26px;
}

.techs__subtitle {
    font: 400 14px/20px "Inter", Arial, sans-serif;
    letter-spacing: -0.04em;
    margin: 0 0 100px;
    text-align: center;
    max-width: 460px;
}

.techs__list {
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.techs__list-item {
    list-style: none;
    width: 90px;
    height: 60px;
    background-color: #303030;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    letter-spacing: -0.04em;
    font: 400 14px/17px "Inter", Arial, sans-serif;
}

@media screen and (max-width: 1250px) {
    .techs__group {
        width: 87%;
    }
}

@media screen and (max-width: 800px) {
    .techs {
        padding: 90px 0 98px;
    }

    .techs__header {
        margin-bottom: 80px;
    }

    .techs__subtitle {
        font-size: 12px;
        line-height: 18px;
    }

    .techs__list-item {
        font-size: 12px;
        line-height: 15px;
        width: 84px;
        height: 57px;
    }

    .techs__title {
        margin-bottom: 22px;
    }

    .techs__subtitle {
        margin-bottom: 83px;
    }
}