.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
  border-radius: 20px;
  flex-shrink: 0;
}

.switch__default-checkbox {
  display: none;
}

.switch__custom-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #343434;
  transition: 0.4s;
  border-radius: 34px;
  display: flex;
  align-items: center;
}

.switch__custom-slider:before {
  position: absolute;
  content: '';
  height: 8px;
  width: 8px;
  transition: 0.4s;
  margin-left: 4px;
  border-radius: 50%;
  background-color: #a0a0a0;
}

.switch__default-checkbox:checked + .switch__custom-slider {
  background-color: #3ddc84;
}

.switch__default-checkbox:checked + .switch__custom-slider:before {
  transform: translateX(20px);
  background-color: white;
}
