.promo {
    width: 100%;
    background-color: #073042;
    color: white;
    padding: 75px 0;
}

.promo__group {
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.promo__title {
    margin: 0;
    font: 400 50px/58px "Inter", Arial, sans-serif;
    max-width: 640px;
    margin-bottom: 36px;
}

.promo__subtitle {
    margin: 0;
    font: 400 13px/16px "Inter", Arial, sans-serif;
    opacity: 0.5;
    max-width: 310px;
}

.promo__learn-more-button {
    width: 129px;
    height: 36px;
    font: 500 12px/16px "Inter", Arial, sans-serif;
    background-color: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, .6);
    border-radius: 3px;
    margin-top: 146px;
    cursor: pointer;
}

.promo__learn-more-button:hover {
    opacity: .8;
}